/* first, let's follow best practices and cancel out default margins with the universal selector */
* {
margin: 0;
}

/* now we can control our margins ourselves, so lets give the body a 50px margin on the left and right; and a 25px margin on the top and bottom.

can you write it in shorthand?*/

body {
  margin: 25px 50px;
}

/* Find a custom font on Google Fonts and add it to the HTML head and your CSS: make sure you add the links and the font-family */

/* Style the h1:
   10px margin on the bottom
   10px padding on the top and bottom
   15px padding on the right and left
   and a solid black border that is 1px thick
   center the text and make it uppercase in CSS (do not retype it as uppercase in your HTML)
   add a background color with 50% opacity
*/
h1 {
   margin: 10px 0 10px 0;
   padding: 10px 15px;
   border: 1px solid black;
   text-align: center;
   text-transform: uppercase;
   background-color: rgba(213, 16, 16, 0.5);
}

h2 {
   background-color: #fffb00;
   color: #000000;
   padding: 10px 20px 5px 40px;
   border: 10px solid black;
   border-style:dotted;
   margin-top: 2.5%;
   margin-bottom: 2.55%;
}

p {
   background-color:#0074f9;
   color: #ffffff;
   border: 5px solid black;
   padding: 10px;
}

code {
   background-color: #f9f9f9;
   color: #08fb59;
   border: 1px solid black;
   padding: 10px;

}

li {
   background-color: #1fee03;
   color: #ffffff;
   border: 1px solid red;
   padding: 10px;
   text-decoration: none;
}

a {
   background-color: #eff30f;
   font-size: 36px;
   color: #000000;
   border: 20px solid black;
   text-decoration: none;
}
.blockTo {
  display: inline;
}
.stack {
  display: block;
}




